#control-panel {
  width: 280px;
  float: left;
}

#main {
  width: auto;
}

svg#worms-sim {
  border: 1px solid black;
  margin: 20px 0px 0px 0px;
  width: 920px;
  height: 600px;
}

html, body {
  /* height: 100%; */
}

h1 {
  margin: 20px 5px 0px 0px;
  display: inline;
}

label {
  margin-right: 20px;
}

button {
  margin-right: 5px;
}

td label {
  margin-right: 5px;
}

p.hide-button {
  display: inline;
  color: white;
  background-color: #AAA;
  padding: 2px 7px;
  border-radius: 15px;
  vertical-align: top;
  font-family: "Monaco", monospaced;
  font-size: 10pt;
}

p.credits {
  font-size: 14px;
  margin: 0px 0px 0px 0px;
}

p.quotation {
  font-style: italic;
}

a {
  text-decoration: none;
}

/* mobile styles */

@media screen and (max-width: 780px) {
  #control-panel {
	width: auto;
	float: none;
  }

  /* #rules-panel {
	display: none;
  } */

  svg#worms-sim {
	width: 100%;
	height: auto;
  }
}
