#control-panel {
  width: 200px;
  float: left;
}

#main {
  width: auto;
}

svg#worms-sim {
  border: 1px solid black;
  margin: 20px 0px 0px 0px;
  width: 1000px;
  height: 600px;
}

html, body {
  height: 100%;
}

h1 {
  margin: 20px 0px 0px 0px;
}

label {
  margin-right: 20px;
}

p.credits {
  margin: 0px 0px 0px 0px;
}

/* mobile styles */

@media screen and (max-width: 780px) {
  svg#worms-sim {
	width: 100%;
  }
}
